.container {
    min-width: 320px;
    max-width: $bp-mobile;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 15px;

    @include for-tablet-up {
        width: $bp-tablet;
        max-width: $bp-desktop;
        padding: 0px 47px;
    }

    @include for-desktop-up {
        width: $bp-desktop;
        padding: 0px 85px;
    }
}
