// Colors
$primaryLight: #FFFDEE;
$secondaryLight: #F0ECD6;

$primaryDark: #000000;
$secondaryDark: #0E0C07;

$cornerTextColor: #B4B4B4;
$cornerTextColorSecondary: #BABABA;
$sectionLogoColor: #494848;
$sectionDescriptionColor: #7A7A7A;

$brandColor: #F3C653;
$brandAccent: #c79002;

$backdropBg: rgba(0, 0, 0, 0.2);

// Animation
$cubic: cubic-bezier(0.4, 0, 0.2, 1);

