// Colors
$primaryLight: #FFFDEE;
$secondaryLight: #F0ECD6;
$secondarybrandColor: #494848;
$primaryDark: #000000;
$secondaryDark: #0E0C07;
$brandColorFiil: #C79002;
$brandColor: #F3C653;
$backdropBg: rgba(0, 0, 0, 0.2);

// Animation
$cubic: cubic-bezier(0.4, 0, 0.2, 1);