// Colors
$primaryLight: #fffdee;
$secondaryLight: #f0ecd6;
$primaryWhite: #ffffff;

$primaryDark: #000000;
$secondaryDark: #0e0c07;

$cornerTextColor: #b4b4b4;
$cornerTextColorSecondary: #bababa;

$sectionLogoColor: #494848;
$sectionDescriptionColor: #7a7a7a;
$modulTextColor: #808080;

$brandColor: #f3c653;
$brandAccent: #c79002;

$backdropBg: rgba(0, 0, 0, 0.2);
$btnBg: rgba(0, 0, 0, 0.4);

// Animation
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
