<section class="section about-restaurant">
    <div class="container">

     <div class="about-restaurant__description">
        <h2 class="visually-hidden">Про ресторан</h2>
        <p class="about-restaurant__pre-title">Amet minim mollit non</p>
        <p class="logo-min">MIMINO</p>
        <p class="about-restaurant__description-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        </p>
      </div>

      <div class="about-restaurant__image-thumb about-restaurant__image">
        <picture>
            <source srcset="./images/homepage/homepage1-desktop.jpg 1x,./images/homepage/homepage1-desktop@2x.jpg 2x" media="(min-width:1280px)"/>
            <source srcset="./images/homepage/homepage1-tablet.jpg 1x,./images/homepage/homepage1-tablet@2x.jpg 2x" media="(min-width:1024px)"/>
            <source srcset="./images/homepage/homepage1-mobile.jpg 1x,./images/homepage/homepage1-mobile@2x.jpg 2x" media="(min-width:414px)"/>
            <img srcset="./images/homepage/homepage1-mobile.jpg 1x,./images/homepage/homepage1-mobile@2x.jpg 2x" alt="">
        </picture>
        </div>
    
        <div class="about-restaurant__details">
            <div class="about-restaurant__image-thumb">
            <picture>
            <source srcset="./images/homepage/homepage2-desktop.jpg 1x,./images/homepage/homepage2-desktop@2x.jpg 2x" media="(min-width:1280px)"/>
            <source srcset="./images/homepage/homepage2-tablet.jpg 1x,./images/homepage/homepage2-tablet@2x.jpg 2x" media="(min-width:1024px)"/>
            <source srcset="./images/homepage/homepage2-mobile.jpg 1x,./images/homepage/homepage2-mobile@2x.jpg 2x" media="(min-width:414px)"/>
            <img srcset="./images/homepage/homepage2-mobile.jpg 1x,./images/homepage/homepage2-mobile@2x.jpg 2x" alt="">
            </picture>
            </div>
        <p class="about-restaurant__details-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>

        <div class="swiper about-restaurant__swiper" data-slider="team-slider">

               <!-- Additional required wrapper -->
             <div class="swiper-wrapper about-restaurant__swiper-wrapper">
               <!-- Slides -->
               <div class="swiper-slide about-restaurant__swiper-slide about-restaurant__first">
                <picture>
                    <source srcset="./images/homepage/homepage4-desktop.jpg 1x,./images/homepage/homepage4-desktop@2x.jpg 2x" media="(min-width:1280px)"/>
                    <source srcset="./images/homepage/homepage4-tablet.jpg 1x,./images/homepage/homepage4-tablet@2x.jpg 2x" media="(min-width:1024px)"/>
                    <source srcset="./images/homepage/homepage4-mobile.jpg 1x,./images/homepage/homepage4-mobile@2x.jpg 2x" media="(min-width:414px)"/>
                    <img src="./images/homepage/homepage4-mobile.jpg" alt="">
                </picture>
               </div> 
               <div class="swiper-slide about-restaurant__swiper-slide about-restaurant__second">
                <picture>
                    <source srcset="./images/homepage/homepage5-desktop.jpg 1x,./images/homepage/homepage5-desktop@2x.jpg 2x" media="(min-width:1280px)"/>
                    <source srcset="./images/homepage/homepage5-tablet.jpg 1x,./images/homepage/homepage5-tablet@2x.jpg 2x" media="(min-width:1024px)"/>
                    <source srcset="./images/homepage/homepage4-mobile.jpg 1x,./images/homepage/homepage4-mobile@2x.jpg 2x" media="(min-width:414px)"/>
                    <img src="./images/homepage/homepage4-mobile.jpg" alt="">
                </picture>
               </div> 
     
             </div>
             
 
             <!-- If we need navigation buttons -->
             <div class="about-restaurant__buttons">
             <div class="swiper-button-prev">
                <svg width="32" height="32">
                    <use href="./images/icons.svg#icon-arrow-left"></use>
                </svg>
             </div>
             <div class="swiper-button-next">
                <svg width="32" height="32">
                    <use href="./images/icons.svg#icon-arrow-right"></use>
                </svg>
             </div>
            </div>

        </div>

    </div>
    </div>
</section>