<section class="section about-restaurant">
    <div class="container">
     <div class="about-restaurant__description">
        <h2 class="visually-hidden">Про ресторан</h2>
        <p class="about-restaurant__pte-title">Amet minim mollit non</p>
        <a class="logo-min" href="#">MIMIHO</a>
        <p class="about-restaurant__description">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        </p>
      </div>
        <picture>
            <source srcset="./images/homepage/homepage1-desktop.jpg 1x,./images/homepage/homepage1-desktop@2x.jpg 2x" media="(min-width:414px)"/>
            <source srcset="./images/homepage/homepage1-tablet.jpg 1x,./images/homepage/homepage1-tablet@2x.jpg 2x" media="(min-width:1024px)"/>
            <source srcset="./images/homepage/homepage1-mobile.jpg 1x,./images/homepage/homepage1-mobile@2x.jpg 2x" media="(min-width:1280px)"/>
            <img src="./images/homepage/homepage1-mobile.jpg" alt="">
        </picture>
        <div class="about-testaurant__details">
            <picture>
            <source srcset="./images/homepage/homepage2-desktop.jpg 1x,./images/homepage/homepage2-desktop@2x.jpg 2x" media="(min-width:414px)"/>
            <source srcset="./images/homepage/homepage2-tablet.jpg 1x,./images/homepage/homepage2-tablet@2x.jpg 2x" media="(min-width:1024px)"/>
            <source srcset="./images/homepage/homepage2-mobile.jpg 1x,./images/homepage/homepage2-mobile@2x.jpg 2x" media="(min-width:1280px)"/>
            <img src="./images/homepage/homepage2-mobile.jpg" alt="">
        </picture>
        <p class="about-testaurant__details-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
    </div>
    </div>
</section>