<section class="section about-hotel">
    <div class="container">
        <h2 class="section__title visually-hidden">Про наш готель</h2>
        <p class="about-hotel__label">Amet minim mollit non</p>
        <h3 class="about-hotel__logo">MIMIHO</h3>
        <div class="apartments__thumb">
            <p class="apartments__description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                sint.
                Velit officia consequat duis enim velit
                mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            <img src="/src/images/homepage/homepage9-mobile.jpg" alt="" class="apartments__picture" width="244"
                height="322">
        </div>
        <div class="relaxation__thumb">
            <p class="relaxation__description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                sint. Velit
                officia consequat duis enim velit
                mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            <img src="/src/images/homepage/homepage10-mobile.jpg" alt="" class="relaxation__picture" width="200"
                height="278">
        </div>
    </div>

    <div class="slider" data-slider="team-slider">
        <div class="swiper">
            <ul class="swiper-wrapper">
                <li class="swiper-slide">
                    <img src="/src/images/homepage/homepage11-tablet.jpg" class="swiper-inner" width="245" height="245">
                </li>
                <li class="swiper-slide">
                    <img src="/src/images/homepage/homepage12-tablet.jpg" class="swiper-inner" width="245" height="245">
                </li>
            </ul>
        </div>

        <div class="swiper-btns">
            <button type="button" class="swiper-btn swiper-button-prev">
                <svg class="swiper-icon" width="32" height="32">
                    <use href="/src/images/icons.svg#icon-arrow-left"></use>
                </svg></button>
            <button type="button" class="swiper-btn swiper-button-next">
                <svg class="swiper-icon" width="32" height="32">
                    <use href="./images/icons.svg#icon-arrow-right"></use>
                </svg></button>
        </div>
    </div>
</section>