<contacts class="contacts__section">
    <div class="contacts__container">
       <h1 class="visually--hidden">контакти</h1>  
    <address class="address">
        <div class="address__list">
        <p lang="en" class="contacts__brand">MIMINO</p>
           <h2 class="contacts__title">Ресторанно-готельний комплекс</h2>  

            <div class="contacts__block">
                 <p class="contacts__name">Ресторан</p>  
              <ul class="contacts__list">
                 <li class="contacts__item">
                    <a class="contacts__link" href="tel:+380955559533">
                      <svg class="contacts__icon" width="24px" height="24px">
                    <use href="/src/images/icons.svg#icon-phone"></use></svg>095 555 95 33</a>
                </li>   
            </ul> 
            </div>
            <div class="contacts__block contacts__block--hotel">
               <p class="contacts__name">Готель</p>     
            <ul class="contacts__list  contacts__list--hotel ">
                 <li class="contacts__item contacts__item--hotel">
                    <a class="contacts__link contacts__link--hotel" href="tel:+380668491089">
                    <svg class="contacts__icon" width="24px" height="24px">
                        <use href="/src/images/icons.svg#icon-phone"></use></svg> 066 849 10 89</a>
                         <a class="contacts__link contacts__link--hotel" href="tel:+380672758540">067 275 85 40</a>  
                  </li>
            </ul>
            </div>
            <ul class="contacts__list--maps">
                <li class="contacts__item--map">
                    <a href="https://www.google.com/maps/@49.599194,34.5265463,552m/data=!3m1!1e3" target="_blank" rel=" " class="contacts__link contacts__link--map"> <svg class="contacts__icon" width="24px" height="24px">
                    <use href="/src/images/icons.svg#icon-location-pin"></use></svg> Україна, м. Полтава, вул. Маршала Бірюзова, 15</a>
                </li>
            </ul>
        </div>
            <iframe class="contacts__maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2585.923397025346!2d34.5265463!3d49.59919399999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0YPQuy4g0JzQsNGA0YjQsNC70LAg0JHQuNGA0Y7Qt9C-0LLQsCwgMTUsINCf0L7Qu9GC0LDQstCwLCDQn9C-0LvRgtCw0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgMzYwMDA!5e0!3m2!1sru!2sua!4v1674912487586!5m2!1sru!2sua" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>   
     </address> 
</contacts>

