<section class="section">
  <div class="kitchen">
    <h2 class="section__title visually-hidden">Кухня МИМИНО</h2>
    <div class="kitchen__block">
      <ul class="kitchen__opus">
        <li class="kitchen__span">Amet minim mollit non</li>
        <li class="kitchen__title">MIMIHO</li>
        <li class="kitchen__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </li>
      </ul>

      <picture class="kitchen__foto">
     
  <source srcset="/src/images/restaurant/restaurant1-desktop.jpg 1x,
            /src/images/restaurant/restaurant1-desktop@2x.jpg 2x" 
           
          media="(min-width: 1280px)" width="460" height="574"
          type="image/jpg"
        />
        <source srcset="/src/images/restaurant/restaurant1-tablet.jpg 1x,
            /src/images/restaurant/restaurant1-tablet@2x.jpg 2x" 
            
          media="(min-width: 1024px)" width="400" height="524"
          type="image/jpg"
        />

        <img 

          srcset="/src/images/restaurant/restaurant1-mobile.jpg  1x,
            /src/images/restaurant/restaurant1-mobile@2x.jpg 2x "
          src="/src/images/restaurant/restaurant1-mobile.jpg"
          alt="kitchen_cook" class="images"
        />
      </picture>
    </div>

    <div class="kitchen__block--under">
      <ul class="kitchen__beef">
        <li class="kitchen__foto kitchen__foto--beff">
          <picture>
        
    <source
               srcset="
                /src/images/restaurant/restaurant2-desktop.jpg    1x,
                /src/images/restaurant/restaurant2-desktop@2x.jpg 2x
              "  
              media="(min-width: 1280px)" width="460" height="574"
              type="image/jpg"
            />


            <source
              srcset="
                /src/images/restaurant/restaurant2-tablet.jpg    1x,
                /src/images/restaurant/restaurant2-tablet@2x.jpg 2x
              "
              media="(min-width: 1024px)" width="350" height="500"
              type="image/jpg"
            />
        
            <img
              class="kitchen__images"
              srcset="
                /src/images/restaurant/restaurant2-mobile.jpg    1x,
                /src/images/restaurant/restaurant2-mobile@2x.jpg 2x
              " 
              src="/src/images/restaurant/restaurant2-mobile.jpg"
              alt="kitchen_cook"
            />
          </picture>
        </li>
        <li class="kitchen__text kitchen__text--beef">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </li>
      </ul>
    </div>

    <!-- sliders -->


 
      <div class="slider" data-slider="team-slider">
        <div class="swiper">
            <ul class="swiper-wrapper class-swiper--kitchen">
          <li class="swiper-slide">
            <div class="swiper-inner">
              <picture class="kitchen__list">
                <source
                  srcset="
                    /src/images/sliders/restaurant3-desktop.jpg    1x,
                    /src/images/sliders/restaurant3-desktop@2x.jpg 2x
                    "width="254" height="254"
                  media="(min-width: 1280px)"
                  type="image/jpg" />
                <source
                  class="swiper-inner"
                  srcset="
                    /src/images/sliders/restaurant3-tablet.jpg    1x,
                    /src/images/sliders/restaurant3-tablet@2x.jpg 2x 
                    " width="194" height="194"
                  media="(min-width: 1024px)"
                  type="image/jpg"/>
              <img
                class="swiper-inner"
                srcset="
                  /src/images/sliders/restaurant3-mobile.jpg    1x,
                  /src/images/sliders/restaurant3-mobile@2x.jpg 2x 
                  " width="245" height="245"  
                  media="(max-width: 1023px)"
                src="/src/images/sliders/restaurant3-mobile.jpg"
                alt="kitchen_cook"
              />
              </picture>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="swiper-inner">
              <picture class="kitchen__list">
                <source
                  srcset="
                    /src/images/sliders/restaurant4-desktop.jpg    1x,
                    /src/images/sliders/restaurant4-desktop@2x.jpg 2x
                  " width="254" height="254"
                  media="(min-width: 1280px)"
                  type="image/jpg"
                />
                <source
                  class="swiper-inner"
                  srcset="
                    /src/images/sliders/restaurant4-tablet.jpg    1x,
                    /src/images/sliders/restaurant4-tablet@2x.jpg 2x
                  " width="194" height="194"
                  media="(min-width: 1024px)"
                  type="image/jpg"
                />
              <img
                class="swiper-inner"
                srcset="
                  /src/images/sliders/restaurant4-mobile.jpg    1x,
                  /src/images/sliders/restaurant4-mobile@2x.jpg 2x
                " width="245" height="245"  
                media="(max-width: 1023px)"
                src="/src/images/sliders/restaurant4-mobile.jpg"
                alt="kitchen_cook"
              />
              </picture>
            </div>
          </li>          
          <li class="swiper-slide">
            <div class="swiper-inner">
              <picture class="kitchen__list">
                <source
                  srcset="
                    /src/images/sliders/slider6-desktop.jpg    1x,
                    /src/images/sliders/slider6-desktop@2x.jpg 2x
                  " width="254 " height="254" 
                  media="(min-width: 1280px)"
                  type="image/jpg"
                />
                <source
                  class="swiper-inner"
                  srcset="
                    /src/images/sliders/slider6-tablet.jpg    1x,
                    /src/images/sliders/slider6-tablet@2x.jpg 2x
                  " width="194" height="194" 
                  media="(min-width: 1024px)"
                  type="image/jpg"
                />
                <img
                  class="swiper-inner"
                  srcset="
                    /src/images/sliders/slider6-mobile.jpg    1x,
                    /src/images/sliders/slider6-mobile@2x.jpg 2x
                  " width="245" height="245"  media="(max-width: 1023px)"
                  src="/src/images/sliders/slider6-mobile.jpg"
                  alt="kitchen_cook"
                />
              </picture>
            </div>
          </li>         
          <li class="swiper-slide">
            <div class="swiper-inner">
              <picture class="kitchen__list">
                <source
                  srcset="
                    /src/images/sliders/slider7-desktop.jpg    1x,
                    /src/images/sliders/slider7-desktop@2x.jpg 2x
                  " width="254" height="254"
                  media="(min-width: 1280px)"
                  type="image/jpg"
                />
                <source
                  class="swiper-inner"
                  srcset="
                    /src/images/sliders/slider7-tablet.jpg    1x,
                    /src/images/sliders/slider7-tablet@2x.jpg 2x
                  " width="194" height="194"
                  media="(min-width: 1024px)"
                  type="image/jpg"
                />
                <img
                  class="swiper-inner"
                  srcset="
                    /src/images/sliders/slider7-mobile.jpg    1x,
                    /src/images/sliders/slider7-mobile@2x.jpg 2x
                  " width="245" height="245"  media="(max-width: 1023px)"
                  src="/src/images/sliders/slider7-mobile.jpg"
                  alt="kitchen_cook"
                />
              </picture>
            </div>
          </li>         
          <li class="swiper-slide">
            <div class="swiper-inner">
              <picture class="kitchen__list">
                <source
                  srcset="
                    /src/images/sliders/slider8-desktop.jpg    1x,
                    /src/images/sliders/slider8-desktop@2x.jpg 2x
                  " width="254" height="254" 
                  media="(min-width: 1280px)" 
                  type="image/jpg"
                />
                <source
                  class="swiper-inner"
                  srcset="
                    /src/images/sliders/slider8-tablet.jpg    1x,
                    /src/images/sliders/slider8-tablet@2x.jpg 2x
                  " width="194" height="194"
                  media="(min-width: 1024px)" 
                  type="image/jpg"
                />
                <img
                  class="swiper-inner"
                  srcset="
                    /src/images/sliders/slider8-mobile.jpg    1x,
                    /src/images/sliders/slider8-mobile@2x.jpg 2x
                  " width="245" height="245"  
                  media="(max-width: 1023px)" 
                  src="/src/images/sliders/slider8-mobile.jpg"
                  alt="kitchen_cook"
                />
              </picture>
            </div>
          </li>         
          <li class="swiper-slide">
            <div class="swiper-inner">
              <picture class="kitchen__list">
                <source
                  srcset="
                    /src/images/sliders/slider9-desktop.jpg    1x,
                    /src/images/sliders/slider9-desktop@2x.jpg 2x
                  " width="254" height="254"
                  media="(min-width: 1280px)"
                  type="image/jpg"
                />
                <source
                  class="swiper-inner"
                  srcset="
                    /src/images/sliders/slider9-tablet.jpg    1x,
                    /src/images/sliders/slider9-tablet@2x.jpg 2x
                  " width="194" height="194"
                  media="(min-width: 1024px)"
                  type="image/jpg"
                />
                <img
                  class="swiper-inner"
                  srcset="
                    /src/images/sliders/slider9-mobile.jpg    1x,
                    /src/images/sliders/slider9-mobile@2x.jpg 2x
                  " width="245" height="245"  
                  media="(max-width: 1023px)"
                  src="/src/images/sliders/slider9-mobile.jpg"
                  alt="kitchen_cook"
                />
              </picture>
            </div>
          </li>     
          <li class="swiper-slide">
            <div class="swiper-inner">
              <picture class="kitchen__list">
                <source
                  srcset="
                    /src/images/sliders/slider15-desktop.jpg    1x,
                    /src/images/sliders/slider15-desktop@2x.jpg 2x
                  "width="254" height="254"
                  media="(min-width: 1280px)"
                  type="image/jpg"
                />
                <source
                  class="swiper-inner"
                  srcset="
                    /src/images/sliders/slider15-tablet.jpg    1x,
                    /src/images/sliders/slider15-tablet@2x.jpg 2x
                  "width="194" height="194"
                  media="(min-width: 1024px)"
                  type="image/jpg"
                />
                <img
                  class="swiper-inner"
                  srcset="
                    /src/images/sliders/slider15-mobile.jpg    1x,
                    /src/images/sliders/slider15-mobile@2x.jpg 2x
                  "width="245" height="245"  
                  media="(max-width: 1023px)"
                  src="/src/images/sliders/slider15-mobile.jpg"
                  alt="kitchen_cook"
                />
              </picture>
            </div>
          </li>          
          <li class="swiper-slide">
            <div class="swiper-inner">
              <picture class="kitchen__list">
                <source
                  srcset="
                    /src/images/sliders/slider16-desktop.jpg    1x,
                    /src/images/sliders/slider16-desktop@2x.jpg 2x
                  "width="254" height="254"
                  media="(min-width: 1280px)"
                  type="image/jpg"
                />
                <source
                  class="swiper-inner"
                  srcset="
                    /src/images/sliders/slider16-tablet.jpg    1x,
                    /src/images/sliders/slider16-tablet@2x.jpg 2x
                  "width="194" height="194"
                  media="(min-width: 1024px)"
                  type="image/jpg"
                />
                <img
                  class="swiper-inner"
                  srcset="
                    /src/images/sliders/slider16-mobile.jpg    1x,
                    /src/images/sliders/slider16-mobile@2x.jpg 2x
                  "width="245" height="245"  
                  media="(max-width: 1023px)"
                  src="/src/images/sliders/slider16-mobile.jpg"
                  alt="kitchen_cook"
                />
              </picture>
            </div>
          </li>
        </ul>
      </div>

      <div class="swiper-btns">
          <button type="button" class="swiper-btn swiper-button-prev  swiper-button-prev--kitchen">
            <svg
              class="menu-switch__icon"
              width="32"
              height="32"
              aria-label="Перемикач слайдера назад"
            >
              <use
                class="menu-button__cross"
                href="/src/images/icons.svg#icon-arrow-left"
              ></use>
            </svg>
          </button>
          <button type="button" class="swiper-btn swiper-button-next swiper-button-next--kitchen {
            right: 79px;
        }">
            <svg
              class="menu-switch__icon"
              width="32"
              height="32"
              aria-label="Перемикач слайдера вперед"
            >
              <use
                class="menu-button__cross"
                href="./images/icons.svg#icon-arrow-right"
              ></use>
            </svg>
          </button>
        </div>
     </div>
    <!-- </div> -->

</div>

</section>


