<section class="menu">
  <div class="menu__container">
    <h2 class="menu__main-title">МЕНЮ РЕСТОРАНУ</h2>

    <!-- Гарячі страви -->
    <div class="menu__list">
      <div class="menu__column">
        <h3 class="menu__section-title">Гарячі страви</h3>
        <table class="menu__table">
          <tr>
            <td class="menu__dish">Борщ з телятини з квасолею</td>
            <td rowspan="2" class="menu__weight">400 г</td>
            <td rowspan="2" class="menu__price">240 грн</td>
          </tr>
          <tr>
            <td class="menu__description">
              Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
              помідори, зелень, сметана
            </td>
          </tr>
          <tr>
            <td class="menu__dish">Суп сирний з куркою</td>
            <td rowspan="2" class="menu__weight">400 г</td>
            <td rowspan="2" class="menu__price">200 грн</td>
          </tr>
          <tr>
            <td class="menu__description">
              Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
            </td>
          </tr>
          <tr>
            <td class="menu__dish">Паста карбонара</td>
            <td rowspan="2" class="menu__weight">350 г</td>
            <td rowspan="2" class="menu__price">430 грн</td>
          </tr>
          <tr>
            <td class="menu__description">
              Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
            </td>
          </tr>
          <tr>
            <td class="menu__dish">Стейк зі свинини</td>
            <td rowspan="2" class="menu__weight">400 г</td>
            <td rowspan="2" class="menu__price">500 грн</td>
          </tr>
          <tr>
            <td class="menu__description">
              Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
              овочами
            </td>
          </tr>
          <tr>
            <td class="menu__dish">Горбуша в соусі з білого вина</td>
            <td rowspan="2" class="menu__weight">400 г</td>
            <td rowspan="2" class="menu__price">400 грн</td>
          </tr>
          <tr>
            <td class="menu__description">
              Ніжна горбуша, вершковий соус на основі білого вина
            </td>
          </tr>
        </table>

        <!-- Гарніри та закуски -->

        <h3 class="menu__section-title">Гарніри та закуски</h3>
        <table class="menu__table">
          <tr>
            <td class="menu__dish">Запечені овочі</td>
            <td rowspan="2" class="menu__weight">200 г</td>
            <td rowspan="2" class="menu__price">230 грн</td>
          </tr>
          <tr>
            <td class="menu__description">
              Кабачок, перець, помідор, баклажан
            </td>
          </tr>
          <tr>
            <td class="menu__dish">Картопля фрі</td>
            <td rowspan="2" class="menu__weight">150 г</td>
            <td rowspan="2" class="menu__price">160 грн</td>
          </tr>
          <tr>
            <td class="menu__description">Картопля, соус томатний</td>
          </tr>
          <tr>
            <td class="menu__dish">Картопля по-селянськи</td>
            <td rowspan="2" class="menu__weight">150 г</td>
            <td rowspan="2" class="menu__price">160 грн</td>
          </tr>
          <tr>
            <td class="menu__description">Картопля, спеції, соус пікантний</td>
          </tr>
          <tr>
            <td class="menu__dish">Хрумкі соління з бочки</td>
            <td rowspan="2" class="menu__weight">250 г</td>
            <td rowspan="2" class="menu__price">350 грн</td>
          </tr>
          <tr>
            <td class="menu__description">
              Огірок солений, помідор квашений, квашена капуста, морква
              по-корейські
            </td>
          </tr>
          <tr>
            <td class="menu__dish">Крильця курячі в медовому соусі</td>
            <td rowspan="2" class="menu__weight">400 г</td>
            <td rowspan="2" class="menu__price">420 грн</td>
          </tr>
          <tr>
            <td class="menu__description">
              Крильця курячі, гірчично-медовий соус, подається з морквою,
              селерою і соусом блючиз
            </td>
          </tr>
        </table>
      </div>

      <!-- Салати -->
      <div class="menu__column">
        <h3 class="menu__section-title">Салати</h3>
        <table class="menu__table">
          <tr>
            <td class="menu__dish">Цезар з куркою</td>
            <td rowspan="2" class="menu__weight">230 г</td>
            <td rowspan="2" class="menu__price">450 грн</td>
          </tr>
          <tr>
            <td class="menu__description">
              Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
              соус цезар
            </td>
          </tr>
          <tr>
            <td class="menu__dish">Цезар з креветками</td>
            <td rowspan="2" class="menu__weight">230 г</td>
            <td rowspan="2" class="menu__price">300 грн</td>
          </tr>
          <tr>
            <td class="menu__description">
              Тигрові креветки, листя салату, помідори чері, сир пармезан,
              грінки, соус цезар
            </td>
          </tr>
          <tr>
            <td class="menu__dish">Грецький салат</td>
            <td rowspan="2" class="menu__weight">230 г</td>
            <td rowspan="2" class="menu__price">280 грн</td>
          </tr>
          <tr>
            <td class="menu__description">
              Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
              листя салату, соус
            </td>
          </tr>
          <tr>
            <td class="menu__dish">М’ясний салат</td>
            <td rowspan="2" class="menu__weight">230 г</td>
            <td rowspan="2" class="menu__price">300 грн</td>
          </tr>
          <tr>
            <td class="menu__description">
              Куряче філе або свиняча вирізка, свіжі огірок, помідор,
              болгарський перець, соус ранч
            </td>
          </tr>
        </table>

        <!-- Десерти -->

        <h3 class="menu__section-title">Десерти</h3>
        <table class="menu__table">
          <tr>
            <td class="menu__dish">Торт наполеон</td>
            <td class="menu__weight">230 г</td>
            <td class="menu__price">300 грн</td>
          </tr>
          <tr>
            <td class="menu__dish">Торт маковий</td>
            <td class="menu__weight">230 г</td>
            <td class="menu__price">300 грн</td>
          </tr>
          <tr>
            <td class="menu__dish">Тірамісу</td>
            <td class="menu__weight">120 г</td>
            <td class="menu__price">260 грн</td>
          </tr>
        </table>

        <!-- Напої -->

        <h3 class="menu__section-title">Напої</h3>
        <table class="menu__table">
          <tr>
            <td class="menu__dish">Чай чорний/зелений</td>
            <td class="menu__weight">500 мл</td>
            <td class="menu__price">100 грн</td>
          </tr>
          <tr>
            <td class="menu__dish">Еспресо</td>
            <td class="menu__weight">30 мл</td>
            <td class="menu__price">100 грн</td>
          </tr>
          <tr>
            <td class="menu__dish">Американо</td>
            <td class="menu__weight">150 мл</td>
            <td class="menu__price">100 грн</td>
          </tr>
          <tr>
            <td class="menu__dish">Капучино</td>
            <td class="menu__weight">200 мл</td>
            <td class="menu__price">160 грн</td>
          </tr>
          <tr>
            <td class="menu__dish">Лате</td>
            <td class="menu__weight">200 мл</td>
            <td class="menu__price">160 грн</td>
          </tr>
        </table>
      </div>
    </div>

    <button type="button" class="order-table">Забронювати столик</button>
  </div>
</section>
