<section class="menu">
  <h2>МЕНЮ РЕСТОРАНУ</h2>

  <!-- Гарячі страви -->

  <h3>Гарячі страви</h3>
  <table class="menu">
    <tr>
      <td>Борщ з телятини з квасолею</td>
      <td rowspan="2">400 г</td>
      <td rowspan="2">240 грн</td>
    </tr>
    <tr>
      <td>
        Телятина, картопля, капуста, морква, цибуля, квасоля, часник, помідори,
        зелень, сметана
      </td>
    </tr>
    <tr>
      <td>Суп сирний з куркою</td>
      <td rowspan="2">400 г</td>
      <td rowspan="2">200 грн</td>
    </tr>
    <tr>
      <td>Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень</td>
    </tr>
    <tr>
      <td>Паста карбонара</td>
      <td rowspan="2">350 г</td>
      <td rowspan="2">430 грн</td>
    </tr>
    <tr>
      <td>Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень</td>
    </tr>
    <tr>
      <td>Стейк зі свинини</td>
      <td rowspan="2">400 г</td>
      <td rowspan="2">500 грн</td>
    </tr>
    <tr>
      <td>
        Свиняча вирізка, спеціі, подається з соусом солодкий чилі та овочами
      </td>
    </tr>
    <tr>
      <td>Горбуша в соусі з білого вина</td>
      <td rowspan="2">400 г</td>
      <td rowspan="2">400 грн</td>
    </tr>
    <tr>
      <td>Ніжна горбуша, вершковий соус на основі білого вина</td>
    </tr>
  </table>

  <!-- Салати -->

  <h3>Салати</h3>
  <table class="menu">
    <tr>
      <td>Цезар з куркою</td>
      <td rowspan="2">230 г</td>
      <td rowspan="2">450 грн</td>
    </tr>
    <tr>
      <td>
        Куряче філе, листя салату, помідори чері, сир пармезан, грінки, соус
        цезар
      </td>
    </tr>
    <tr>
      <td>Цезар з креветками</td>
      <td rowspan="2">230 г</td>
      <td rowspan="2">300 грн</td>
    </tr>
    <tr>
      <td>
        Тигрові креветки, листя салату, помідори чері, сир пармезан, грінки,
        соус цезар
      </td>
    </tr>
    <tr>
      <td>Грецький салат</td>
      <td rowspan="2">230 г</td>
      <td rowspan="2">280 грн</td>
    </tr>
    <tr>
      <td>
        Свіжі огірок, помідор, болгарський перець, оливки, сир бринза, листя
        салату, соус
      </td>
    </tr>
    <tr>
      <td>М’ясний салат</td>
      <td rowspan="2">230 г</td>
      <td rowspan="2">300 грн</td>
    </tr>
    <tr>
      <td>
        Куряче філе або свиняча вирізка, свіжі огірок, помідор, болгарський
        перець, соус ранч
      </td>
    </tr>
  </table>

  <!-- Десерти -->

  <h3>Десерти</h3>
  <table>
    <tr>
      <td>Торт наполеон</td>
      <td>230 г</td>
      <td>300 грн</td>
    </tr>
    <tr>
      <td>Торт маковий</td>
      <td>230 г</td>
      <td>300 грн</td>
    </tr>
    <tr>
      <td>Тірамісу</td>
      <td>120 г</td>
      <td>260 грн</td>
    </tr>
  </table>

  <!-- Напої -->

  <h3>Напої</h3>
  <table>
    <tr>
      <td>Чай чорний/зелений</td>
      <td>500 г</td>
      <td>100 грн</td>
    </tr>
    <tr>
      <td>Еспресо</td>
      <td>30 г</td>
      <td>100 грн</td>
    </tr>
    <tr>
      <td>Американо</td>
      <td>150 г</td>
      <td>100 грн</td>
    </tr>
    <tr>
      <td>Капучино</td>
      <td>200 г</td>
      <td>160 грн</td>
    </tr>
    <tr>
      <td>Лате</td>
      <td>200 г</td>
      <td>160 грн</td>
    </tr>
  </table>

  <button type="button">Забронювати столик</button>
</section>
