.hotel {
  &__hero-title {
    font-family: "Film P3";
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 1.07;
    letter-spacing: 0.3em;
    color: #ffffff;
    text-align: center;
    // padding-top: 181px;
    margin-bottom: 32px;

    @media screen and (max-width: 345px) {
      font-size: 80px;
    }

    @media (min-width: $bp-tablet) {
      // padding-top: 188px;
      margin-bottom: 32px;
      font-size: 128px;
    }

    @media (min-width: $bp-desktop) {
      // padding-top: 164px;
      margin-bottom: 32px;
    }
  }
}

.hero-hotel {
  width: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("../images/hotel/hero-hotel-mobile.jpg");

  @media (min-width: $bp-tablet) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url("../images/hotel/hero-hotel-tablet.jpg");
  }
  @media (min-width: $bp-desktop) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url("../images/hotel/hero-hotel-desktop.jpg");
  }

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-hotel {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url("../images/hotel/hero-hotel-mobile@2x.jpg");

    @media (min-width: $bp-tablet) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url("../images/hotel/hero-hotel-tablet@2x.jpg");
    }
    @media (min-width: $bp-desktop) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url("../images/hotel/hero-hotel-desktop@2x.jpg");
    }
  }
}

.hero__text-hotel {
  margin-bottom: 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 178px;

  @media (min-width: $bp-tablet) {
    margin-bottom: 226px;
  }
  @media (min-width: $bp-desktop) {
    margin-bottom: 249px;
  }
}
