.room-two {
    
    padding-top: 32px;
    padding-bottom: 32px;
     position: relative;

    @include for-tablet-up {
        
        padding-top: 64px;
        padding-bottom: 40px;
    }
    @include for-desktop-up {
        padding-top: 72px;
    }
    &__container {
          margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        max-width: 414px;
   
    @include for-tablet-up {
       max-width: 1024px;
    }

   @include for-desktop-up {
       max-width: 1280px;
    }
    }
   

    &__logo {
        text-transform: uppercase;
        margin-bottom: 32px;
        color: #494848;
        font-family: 'Film P3', sans-serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 1.08;
        letter-spacing: 0.3em;
        @include for-tablet-up {
            margin-bottom: 62px;
            font-size: 64px;
    }
     @include for-desktop-up {
            margin-bottom: 72px;
           
        }
     }

    &__subtitle {
        color: #B4B4B4;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.16;
        margin-bottom: 8px;
         @include for-tablet-up {
            margin-bottom: 4px;
            font-size: 32px;
        }
    }
   

    &__title {
        font-family: 'Times New Roman';
        font-weight: 700;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.05em;
        margin-bottom: 12px;
        @include for-tablet-up {
            margin-bottom: 16px;
            font-size: 30px;
            line-height: 1.14;
        }
         @include for-desktop-up {
            margin-bottom: 24px;
           
         }
    }
    
    &__text {
        @include desctiption-block($sectionDescriptionColor, 600, 12px, 1.25);
        
        
        margin-bottom: 32px;
        margin-right: 141px;
        
         @include for-tablet-up {
            margin-bottom: 174px;
            margin-right: 540px;
            font-size: 16px;
            font-weight: 700;
                width: 400px;
        }
        @include for-desktop-up {
            margin-bottom: 188px;
            margin-right: 795px;
        }
    }

    &__image-interior {
        box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        margin-bottom: 32px;
        margin-left: auto;
         @include for-tablet-up {
            position: absolute;
            top: -32px;
            right: 112px;
        }
        @include for-desktop-up {
            right: 180px;
        }
    }
     &__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        @include for-tablet-up {
        margin-top: 41px;
        
        }
        @include for-desktop-up {
        margin-top: 72px;
           
    }
        }
   
    &__button {
        font-family: 'Montserrat';
        color: #F3C653;
        border: 2px solid $secondaryLight;
        width: 246px;
        height: 46px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        padding: 0;
        cursor: pointer;
        text-align: center;
        background-color: $primaryDark;
        border-radius: 25px;
    }  

&__icons {
        position: relative;
        width: 100%;
        height: 32px;
        
        margin-top: 40px;
        bottom: 200px;
        
        display: flex;
        gap: 32px;
        width: 98px;
        
        @include for-tablet-up {
        margin-left: 330px;
        bottom: 70px;
           
    }
        @include for-desktop-up {
        margin-left: 455px;
           
    }

}
    &__icon {
    letter-spacing: .02em;
    cursor: pointer;
    text-align: center;
    border: 1px solid #0000;
    padding: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    background-color: transparent;
    width: 32px;
    height: 32px;

    }

    // &__absolut {
    //     max-width: 1280px;
        
    // }
    &__swiper {
        gap: 16px;
        margin-bottom: 72px;
    margin-left: -130px;
    overflow: hidden;
     display: flex;
   @include for-tablet-up {
        display: flex;
        gap: 40px;
        position: relative;
        margin-left: 0;
    }
        
    }
    &__room {
        display: flex;
        flex-direction: column-reverse;
        overflow: auto;
        
        @include for-tablet-up {
              flex-direction: row-reverse;
              justify-content: space-between;
        }
      
    }
    &__photo {
        box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    }
}



