.room-three {
    background-color: $secondaryLight;
    max-width: 414px;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;

     @media screen and (min-width: 1024px) {
        max-width: 1024px;
        padding-top: 66px;
        padding-bottom: 40px;
        

    }

    @media screen and (min-width: 1280px) {
        padding-top: 72px;
        
    }

    &__logo {
        text-align: right;
        text-transform: uppercase;
        margin-bottom: 32px;
        color: #494848;
        font-family: 'Film P3', sans-serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 1.08;
        letter-spacing: 0.3em;
        @media screen and (min-width: 1024px) {
            margin-bottom: 62px;
            font-size: 64px;

        }
    }

    &__subtitle {
        color: #B4B4B4;
        text-align: right;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.16;
        margin-bottom: 8px;

        @media screen and (min-width: 1024px) {
            margin-bottom: 4px;
            font-size: 32px;
            padding-right: 17px;

        }
    }

    &__title {
        font-family: 'Times New Roman';
        font-weight: 700;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.05em;
        text-align: right;
        margin-bottom: 12px;

        @media screen and (min-width: 1024px) {
            margin-bottom: 16px;
            margin-right: 43px;
            font-size: 30px;
            line-height: 1.14;

        }
    }
    
    &__text {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 12px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        margin-bottom: 32px;
        margin-right: 74px;
        margin-left: 98px;
        color: #7A7A7A;

        @media screen and (min-width: 1024px) {
            width: 400px;
            margin-bottom: 4px;
            margin-left: 557px;
            margin-right: 20px;
            font-size: 16px;
            font-weight: 700;
        }
    }
    &__image-interior {
        box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        margin-bottom: 32px;
        @media screen and (min-width: 1024px) {
            position: absolute;
            top: -32px;
            left: 112px;
        }
     
    }
    &__box {
        display: flex;
        flex-direction: column;
    }
}