<section class="amenities">
  <div class="amenities__container">
    <h2 class="amenities__title">ЗРУЧНОСТІ У НОМЕРІ</h2>
    <p class="amenities__paragraph amenities__paragraph--current">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <ul class="amenities__list">
      <li class="amenities__subtitle">
        ЗАГАЛЬНІ
        <div class="amenities__part">
          <p class="amenities__paragraph">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="amenities__paragraph">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="amenities__subtitle">
        ВАННА КІМНАТА
        <div class="amenities__part">
            <p class="amenities__paragraph">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                sint. Velit officia consequat duis enim velit mollit. Exercitation
                veniam consequat sunt nostrud amet.
              </p>
              <p class="amenities__paragraph">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                sint. Velit officia consequat duis enim velit mollit. Exercitation
                veniam consequat sunt nostrud amet.
              </p>
        </div>
      </li>
      <li class="amenities__subtitle">
        СПАЛЬНЯ
        <div class="amenities__part">
            <p class="amenities__paragraph">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
        </div>
      </li>
      <li class="amenities__subtitle">
        КУХНЯ
        <div class="amenities__part">
            <p class="amenities__paragraph">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                sint.
            </p>
            <p class="amenities__paragraph">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                sint.
            </p>
        </div>
      </li>
      <li class="amenities__subtitle">
        МЕДІА
        <div class="amenities__part">
            <p class="amenities__paragraph">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                sint. Velit officia consequat duis enim velit mollit.
            </p>
        </div>
      </li>
    </ul>
    <div class="amenities__box">
        <button type="button" class="amenities__button js-open-modal" data-modal="1">ОФОРМИТИ БРОНЮВАННЯ</button>
        <a href="/src/hotel.html" class="amenities__link">Повернутися до перегляду номерів
          <svg class="amenities__icon" width="24" height="24">
            <use href="/src/images/icons.svg#icon-arrow-right"></use>
          </svg>
        </a>
    </div>
  </div>
</section>
