<div>
    <h2>ЗРУЧНОСТІ У НОМЕРІ</h2>
    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    <ul>
        <li>ЗАГАЛЬНІ
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </li>
        <li>ВАННА КІМНАТА
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </li>
        <li>СПАЛЬНЯ
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. </p>
        </li>
        <li>КУХНЯ
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
        </li>
        <li>МЕДІА
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. </p>
        </li>
    </ul>
</div>