<section class="room-hero">
    <div class="room-hero__container">
        <address class="room-hero__address">
            <ul class="room-hero__address-list">
                <li class="room-hero__address-item">
                    <a class="room-hero__address-point" href="#">
                        <svg class="room-hero__icon" width="20" height="20">
                            <use href="/src/images/icons.svg#icon-location-pin"></use>
                        </svg>
                    </a>
                </li>
                <li class="room-hero__address-item">
                    <a href="https://www.google.com/maps/search/%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D0%B0,+%D0%BC.+%D0%9F%D0%BE%D0%BB%D1%82%D0%B0%D0%B2%D0%B0,+%D0%B2%D1%83%D0%BB.+%D0%9C%D0%B0%D1%80%D1%88%D0%B0%D0%BB%D0%B0+%D0%91%D1%96%D1%80%D1%8E%D0%B7%D0%BE%D0%B2%D0%B0,+15+%D0%B3%D1%83%D0%B3%D0%BB+%D0%BC%D0%B0%D0%BF%D1%81/@49.5987145,34.5239645,16.69z"
                        target="_blank" rel="noopener noreferrer" class="room-hero__address-point">
                        Україна, м. Полтава, вул. Маршала Бірюзова, 15
                    </a>
                </li>
            </ul>
        </address>


        <div class="room-hero__text-box">
            <h1 class="room-hero__title">ДВОМІСНИЙ НОМЕР люкс</h1>
            <p class="room-hero__description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                Velit officia consequat duis enim velit
                mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
        </div>

        <a href="/src/hotel.html" class="btn room-hero__btn-prices">
            Переглянути ціни
        </a>

        <div class="room-hero__socials">
            <ul class="room-hero__socials-list">
                <li class="herolink-item">
                    <a class="room-hero__social-link" href="#">
                        <svg class="room-hero__icon" width="24" height="24">
                            <use href="/src/images/icons.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="herolink-item">
                    <a class="room-hero__social &&link" href="#">
                        <svg class="room-hero__icon" width="24" height="24">
                            <use href="/src/images/icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="herolink-item">
                    <a class="room-hero__social &&link" href="#">
                        <svg class="room-hero__icon" width="24" height="24">
                            <use href="/src/images/icons.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</section>