<!-- <div class="backdrop">
  <div class="modal">
    <button class="modal__close-btn" type="button">
      <svg width="24" height="24">
        <use href="#">close</use>
      </svg>
    </button>
    <h3 class="modal__title">ЗАБРОНЮВАТИ НОМЕР</h3>
    <form name="book-room-form">
      <ul class="form-field">
        <div class="form-field__box">
          <li class="form-field__item">
            <input
              class="form-field__input"
              id="client-name"
              type="text"
              name="client-name"
              placeholder="Ваше ім’я"
            />
            <label class="form-field__label" for="client-name"
              >На кого забронювати номер?</label
            >
          </li>
          <li class="form-field__item">
            <input
              class="form-field__input"
              id="client-tel"
              type="tel"
              name="client-tel"
              placeholder="+38 (___) ___-__-__"
            />
            <label class="form-field__label" for="client-tel"
              >Номер телефону</label
            >
          </li>
        <div class="form-field__box">
          <li class="form-field__item">
            <input
              class="form-field__input"
              id="room-type"
              type="text"
              name="room-type"
              placeholder="Двохмісний"
            />
            <label class="form-field__label" for="room-type"
              >Категорія номеру</label
            >
          </li>
          <li class="form-field__item">
            <input
              class="form-field__input"
              id="start-living"
              type="text"
              name="start-living"
              placeholder="time"
            />
            <label class="form-field__label" for="start-living"
              >Дата заїзду</label
            >
          </li>
          <li class="form-field__item">
            <input
              class="form-field__input"
              id="finish-living"
              type="text"
              name="finish-living"
              placeholder="time"
            />
            <label class="form-field__label" for="finish-living"
              >Дата виїзду</label
            >
          </li>
        </div>
    </ul>
      <button class="book-btn" type="button">ОФОРМИТИ БРОНЮВАННЯ</button>
    </form>
  </div>
</div> -->
