<!-- <div class="backdrop">
  <div class="modal">
    <button class="modal__close-btn" type="button">
      <svg width="24" height="24">
        <use href="#">close</use>
      </svg>
    </button>
    <h3 class="modal__title">ЗАБРОНЮВАТИ НОМЕР</h3>
    <form name="book-room-form">
      <ul class="form-field">
        <div class="form-field__box">
          <li class="form-field__item">
            <input
              class="form-field__input"
              id="client-name"
              type="text"
              name="client-name"
              placeholder="Ваше ім’я"
            />
            <label class="form-field__label" for="client-name"
              >На кого забронювати номер?</label
            >
          </li>
          <li class="form-field__item">
            <input
              class="form-field__input js-inputmask"
              id="client-tel"
              type="tel"
              name="client-tel"
              placeholder="+38 (___) ___-__-__"
            />
            <label class="form-field__label" for="client-tel"
              >Номер телефону</label
            >
          </li>
        </div>
        <div class="form-field__box">
          <li class="form-field__item">
            <select
              name="room-type"
              class="form-field__input js-select"
              id="room-type"
            >
              <option value="Двохмісний">Двохмісний</option>
              <option value="Одномісний">Одномісний</option>
              <option value="Напів Люкс">Напів Люкс</option>
              <option value="Люкс">Люкс</option>
              <option value="Президентський">Президентський</option>
            </select>
            <label class="form-field__label" for="room-type"
              >Категорія номеру</label
            >
          </li>
          <li class="form-field__item">
            <select
              name="start-living"
              class="form-field__input js-select"
              id="start-living"
            >
              <option value="Сьогодні">Сьогодні</option>
              <option value="Завтра">Завтра</option>
              <option value="Після завтра">Після завтра</option>
              <option value="Наступної суботи">Наступної суботи</option>
              <option value="Наступної неділі">Наступної неділі</option>
            </select>
            <label class="form-field__label" for="start-living"
              >Дата заїзду</label
            >
          </li>
          <li class="form-field__item">
            <select
              name="finish-living"
              class="form-field__input js-select"
              id="finish-living"
            >
              <option value="Сьогодні">Сьогодні</option>
              <option value="Завтра">Завтра</option>
              <option value="Після завтра">Після завтра</option>
              <option value="Наступної суботи">Наступної суботи</option>
              <option value="Наступної неділі">Наступної неділі</option>
            </select>
            <label class="form-field__label" for="finish-living"
              >Дата виїзду</label
            >
          </li>
        </div>
      </ul>
      <button class="book-btn" type="submit">ОФОРМИТИ БРОНЮВАННЯ</button>
    </form>
  </div>
</div> -->
