<div class="modal" data-modal="2">
  <button class="modal__close-btn js-modal-close" type="button">
    <svg width="24" height="24">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <h3 class="modal__title">ЗАБРОНЮВАТИ СТОЛИК</h3>
  <form name="book-table-form">
    <ul class="form-field">
      <div class="form-field__box">
        <li class="form-field__item">
          <input
            class="form-field__input"
            id="client-name"
            type="text"
            name="client-name"
            placeholder="Ваше ім’я"
            pattern="[A-Za-zА-Яа-яЁёІіЇїЄє]{2,20}"
            title="Ім’я не может бути меншим за 2 та не більше ніж 20 символів."
          />
          <label class="form-field__label" for="client-name"
            >На кого забронювати столик?</label
          >
        </li>
        <li class="form-field__item">
          <input
            class="form-field__input js-inputmask"
            id="client-tel"
            type="tel"
            name="client-tel"
            placeholder="+38 (___) ___-__-__"
            pattern="{10}"
            title="Контактний номер має бути українського мобільного оператора та складатись із 10 цифр"
          />
          <label class="form-field__label" for="client-tel"
            >Номер телефону</label
          >
        </li>
      </div>
      <div class="form-field__box">
        <li class="form-field__item">
          <div class="form-field__input-icon-box">
            <select
              name="number-of-people"
              class="form-field__input js-select"
              id="number-of-people"
            >
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
            <svg class="form-field__icon" width="24" height="24">
              <use href="./images/icons.svg#icon-arrow-down"></use>
            </svg>
          </div>
          <label class="form-field__label" for="number-of-people"
            >Столик на яку кількість осіб?</label
          >
        </li>
        <li class="form-field__item">
          <select
            name="client-book-time"
            class="form-field__input js-select"
            id="client-book-time"
          >
            <option value="Сьогодні">Сьогодні</option>
            <option value="Завтра">Завтра</option>
            <option value="Після завтра">Після завтра</option>
            <option value="Наступної суботи">Наступної суботи</option>
            <option value="Наступної неділі">Наступної неділі</option>
          </select>
          <label class="form-field__label select" for="client-book-time"
            >На яку дату бронювати?</label
          >
        </li>
      </div>
    </ul>
    <button class="book-btn" type="submit">ОФОРМИТИ БРОНЮВАННЯ</button>
  </form>
</div>
<div class="backdrop js-backdrop-modal"></div>
