.about-hotel {
    padding: 18px 0px;

    &__label {
        font-size: 20px;
        line-height: 1.15;
        margin-bottom: 6px;
        text-align: end;

        color: $cornerTextColor;
    }

    &__logo {
        font-family: "Film P3";
        font-size: 40px;
        line-height: 1.075;
        letter-spacing: 0.3em;
        margin-bottom: 16px;
        text-align: end;

        color: $sectionLogoColor;
    }
}

.apartments {
    &__description {
        margin-bottom: 28px;
        margin-left: auto;
        width: 242px;

        @include desctiption-block($sectionDescriptionColor);
    }
 
    &__thumb {
        align-items: center;
        color: $brandAccent;
        margin-bottom: 32px;
    }
}

.relaxation {
    &__description {
        @include desctiption-block($brandAccent);
    }

    &__thumb {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 21px;
        margin-bottom: 32px;
        color: $brandAccent;
    }
}
