.about-restaurant {
    position: relative;
    padding-top: 16px;
    padding-bottom: 20px;
}

.about-restaurant__pre-title {
    font-size: 20px;
    line-height: 1.15;
    color: #B4B4B4;
}

.about-restaurant__description {
    width: 258px;
    margin-bottom: 28px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.about-restaurant__description-text {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #7A7A7A;
}

.about-restaurant__image {
    display: block;
    margin-left: auto;
    margin-bottom: 32px;
    width: 244px;
}

.about-restaurant__details {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 32px;
    & picture {
        width: 200px;
    }
}

.about-restaurant__details-text {
    width: 163px; 
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #C79002;
}

// .about-restaurant__swiper {
//     max-width: 330px;
//     margin-left: auto;
// }

// .about-restaurant__swiper-wrapper {
//     display: flex;
//     align-items: center;
//     gap: 25px;
//     .about-restaurant__second {
//         max-width: 60px !important;
//         overflow: hidden !important;
//     }
// }

// .about-restaurant__second picture{
//     object-fit: cover;
//     display: block;
//     height: 245px;
//     width: 245px;
//     & img{
//         object-fit: cover;
//         width: 245px;
//     }
// }

// .about-restaurant__swiper-slide {
//     width: 245px;
// }

// .about-restaurant__buttons {
//     display: flex;
//     align-items: center;
//     gap: 32px;
//     justify-content: flex-end;
// }