.about-restaurant {
    padding-top: 16px;
    padding-bottom: 20px;
}

.about-restaurant__pre-title {
    font-size: 20px;
    line-height: 1.15;
    color: #B4B4B4;
}

// .about-restaurant__description {
//     font-weight: 600;
//     font-size: 12px;
//     line-height: 1.25;
//     letter-spacing: 0.02em;
//     color: #7A7A7A;
//     display: flex;
//     justify-content: center;
//     align-items: flex-start;
//     gap: 12px;
// }

.about-testaurant__details-text {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #C79002;
}

