.about-restaurant {
    padding-top: 16px;
    padding-bottom: 20px;
    @media screen and (min-width: 1024px) {
        padding-top: 120px;
        padding-bottom: 32px;
    }
    @media screen and (min-width: 1280px) {
    }
}

.about-restaurant__container {
    position: relative;
}

.about-restaurant__pre-title {
    @include desctiption-block($cornerTextColor, 400, 20px, 1.15);
    font-family: "Times New Roman";
    @media screen and (min-width: 1024px) {
        font-size: 32px;
        margin-bottom: 4px;
    }
}

.logo-min {
    letter-spacing: 0.3em;
    font-family: "Film P3";
    font-size: 40px;
    @media screen and (min-width: 1024px) {
        font-size: 69px;
        margin-bottom: 24px;
    }
}

.about-restaurant__description {
    width: 258px;
    margin-bottom: 28px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    @media screen and (min-width: 1024px) {
        width: 439px;
        gap: 0;
        margin-bottom: 142px;
    }
    @media screen and (min-width: 1280px) {
        width: 518px;
    }
}

.about-restaurant__description-text {
    letter-spacing: 0.02em;
    @include desctiption-block($sectionDescriptionColor, 600, 12px, 1.25);
    @media screen and (min-width: 1024px) {
        @include desctiption-block($sectionDescriptionColor, 600, 16px, 1.25);
    }
}

.about-restaurant__image-thumb {
    overflow: hidden;
    background-color: #dadada;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    border-color: transparent;
}

.about-restaurant__image {
    display: block;
    margin-left: auto;
    margin-bottom: 32px;
    width: 244px;
    z-index: 1;
    @media screen and (min-width: 1024px) {
        width: 400px;
        top: -152px;
        right: 112px;
        position: absolute;
    }
    @media screen and (min-width: 1280px) {
        width: 460px;
        top: -153px;
        right: 180px;
    }
}

.about-restaurant__details {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 32px;
    @media screen and (min-width: 1024px) {
        gap: 48px;
    }
    & img {
        width: 200px;
        background: #dadada;
        box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        @media screen and (min-width: 1024px) {
            width: 350px;
        }
    }
}

.about-restaurant__details-text {
    width: 163px;
    letter-spacing: 0.02em;
    @include desctiption-block($brandAccent, 600, 12px, 1.25);
    @media screen and (min-width: 1024px) {
        width: 312px;
        font-size: 16px;
    }
}

.about-restaurant__slider {
    @media screen and (min-width: 1024px) {
        margin-left: 440px;
        margin-top: -65px;
        width: 428px;
    }
    @media screen and (min-width: 1280px) {
        margin-top: -107px;
        margin-left: 415px;
        width: 548px;
    }
}

.right-btn {
    left: unset;
    right: 0;
}

.left-btn {
    @media screen and (min-width: 414px) {
        left: 288px;
    }
    @media screen and (min-width: 1024px) {
        left: 332px;
    }
    @media screen and (min-width: 1280px) {
        left: 452px;
    }
}
