.details-restaurant {
    position: relative;
    padding-top: 24px;
    padding-bottom: 40px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-color: #C4C4C4;
    background-image:linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
     url(../images/homepage/homepage5-mobile.jpg);
         @include retina { 
       background-image:linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url(../images/homepage/homepage5-mobile@2x.jpg);
    };
     @media  screen and (min-width: 414px) {
        width: 414px;
background-image:linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
 url(../images/homepage/homepage5-mobile.jpg);
         @include retina { 
       background-image:linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url(../images/homepage/homepage5-mobile@2x.jpg);
     }
    };
 @media  screen and (min-width: 1024px) {
       width: 1024px;
       opacity: 1.76;
       background-image:linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url(../images/homepage/homepage5-tablet.jpg);
         @include retina { 
       background-image:linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url(../images/homepage/homepage5-tablet@2x.jpg);
    }
};
 @media  screen and (min-width: 1280px) {
       width: 1280px;
        padding-top: 48px;
        padding-bottom: 40px;
       background-image:linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url(../images/homepage/homepage5-desktop.jpg);
         @include retina { 
       background-image:linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url(../images/homepage/homepage5-desktop@2x.jpg);
    }
}
}

.details-restaurant__description {
    width: 259px;
    margin-left: auto;
    margin-bottom: 48px;
    @media screen and (min-width: 1024px) {
        width: 610px;
        margin-left: 231px;
        margin-bottom: 40px;
    }
     @media screen and (min-width: 1280px) {
        width: 610px;
        margin-left: 253px;

    }
}

.logo-min-white {
    font-family: "Film P3";
    font-size: 40px;
    color: white;
    margin-bottom: 12PX;
     @media screen and (min-width: 1024px) {
      font-size: 69px;  
      margin-bottom: 16px;
    }

}

.details-restaurant__title {
letter-spacing: 0.02em;
@include desctiption-block(white, 700, 20px, 1.2);
margin-bottom: 20PX;
@media screen and (min-width: 1024px) {
    font-size: 24px;
    margin-bottom: 8px;
}
}

.details-restaurant__text {
letter-spacing: 0.02em;
    @include desctiption-block($sectionDescriptionColor, 600, 12px, 1.25);
    @media screen  and (min-width: 1024px) {
        font-size: 16px;
    }
}

.details-restaurant__swiper-wrapper {
    margin-left: 25px;
}

.details-restaurant__btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    align-items: center;
    @media screen and (min-width:1024px) {
        align-items: flex-start;
        position: absolute;
        left: 47px;
        bottom: 96px;
    }
    @media screen and (min-width:1280px) {
        left: 85px;
        bottom: 94px;
    }
}

.details-restaurant__btn {
    width: 236px;
}

.details-restaurant__slider {
    width: 330px;
    margin-left: auto  !important;
        @media screen  and (min-width: 1024px) {
width: 662px;
        }
    @media screen  and (min-width: 1280px) {
width: 875px;
    }
    
}

.details-restaurant__slider-buttons {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    gap: 32px;
    justify-content: flex-end;
    &.about-restaurant__btn {
left: 286px !important;
    }
}

.details-restaurant__slider-button {
fill: white;
}