.kitchen {
    @extend.container;
    &__block {
        display: flex;
        @media screen and (min-width: 1280px) {
            // display: flex;
        }
        @media screen and (min-width: 1024px) {
            // display: flex;
        }
        @media screen and (max-width: 1023px) {
            // display: flex;
            flex-wrap: wrap;
        }

        &--under {
            display: flex;
            @media screen and (min-width: 1024px) {
                // display: flex;
            }
        }
    }

    &__opus {
        list-style: none;

        @media screen and (min-width: 1280px) {
            display: flex;
            flex-direction: column;
            margin-right: 37px;
        }
    }
    &__span {
        font-family: "Times New Roman";
        color: #b4b4b4;
        font-weight: 400;
        font-size: 32px;
        margin-top: 120px;
        @media screen and (max-width: 1023px) {
            font-size: 20px;
            line-height: 1.15;
            margin-bottom: 8px;
        }

        @media screen and (min-width: 1024px) {
            line-height: 1.18;
            margin-bottom: 4px;
        }

        @media screen and (min-width: 1280px) {
            font-style: normal;
            line-height: 37px;
        }
    }

    &__title {
        font-family: "Film P3";
        font-style: normal;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.3em;
        color: #494848;

        @media screen and (max-width: 1023px) {
            font-size: 40px;
            line-height: 43px;
            margin-bottom: 12px;
        }

        @media screen and (min-width: 1024px) {
            font-size: 64px;
            margin: 0;
            margin-top: 4px;
            margin-bottom: 24px;
        }
    }

    &__text {
        font-family: "Montserrat";
        color: #5f5f5f;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.25;
        font-style: normal;
        letter-spacing: 0.02em;

        @media screen and (max-width: 1023px) {
            font-size: 12px;
            line-height: 15px;
            width: 258px;
            height: auto;
        }

        @media screen and (min-width: 1024px) and (max-width: 1279px) {
            width: 439px;
            height: 80px;
            margin-bottom: 126px;
            margin-right: 26px;
        }

        @media screen and (min-width: 1280px) {
            width: 518px;
            height: 60px;
            margin-top: 24px;
            margin-bottom: 162px;
        }

        &--beef {
            @media screen and (min-width: 1280px) {
                color: $brandAccent;
                list-style: none;
                margin-left: 32px;
                width: 163px;
                height: 120px;
            }
            @media screen and (min-width: 1024px) and (max-width: 1279px) {
                color: $brandAccent;
                list-style: none;
                margin-left: 48px;
                margin-bottom: 0;
                margin-right: 0;
                width: 312px;
                height: 122px;
            }

            @media screen and (max-width: 1023px) {
                color: $brandAccent;
                list-style: none;
                margin-left: 20px;
                width: 163px;
                height: 120px;
            }
        }
    }

    &__foto {
        list-style: none;
        @media screen and (min-width: 1024px) and (max-width: 1279px) {
            margin-top: -32px;
        }

        @media screen and (min-width: 1024px) and (min-width: 1280px) {
            margin-top: -33px;
        }
        @media screen and (max-width: 1023px) {
            margin-top: 28px;
            margin-left: 140px;
        }

        &--beff {
            @media screen and (min-width: 1024px) and (max-width: 1279px) {
                margin-top: 0px;
            }
            @media screen and (min-width: 1024px) and (min-width: 1280px) {
                margin-top: 0px;
            }

            @media screen and (max-width: 1023px) {
                margin-top: 32px;
                margin-left: 0px;
            }
        }
    }

    &__textbeef {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.02em;
        color: #c79002;
        list-style: none;
        width: 312px;
    }

    &__beef {
        display: flex;
        // margin-top: 162px;
        align-items: center;

        @media screen and (max-width: 1023px) {
            margin-top: 28px;
            margin-bottom: 52px;
        }
    }

    &__list {
        display: flex;
    }
}

.images {
    // width: 400px;
    // height: 524px;
    left: 0px;
    top: 0px;
    // background: #dadada;
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
}

.swiper-button-prev {
    left: auto;

    &--kitchen {
        right: 81px;
    }
}

.swiper-button-next {
    left: auto;

    &--kitchen {
        right: 0px;
    }
}

.kitchen__list {
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
}

.class-swiper--kitchen {

    @media screen and (min-width: 1024px) and (max-width: 1279px) {
       margin-left: 489px;
    }
    
    @media screen and (min-width: 1280px) {
        margin-left: 562px;
     }
}


