<section class="section__lux">
  <div class="container">
    <div class="cardset">
      <div class="lux__text-block cardset__item">
        <p class="lux__upper-text">Amet minim mollit non</p>
        <p class="lux__brand-name">Mimiho</p>
        <h2 class="lux__title">ДВОМІСНИЙ НОМЕР люкс</h2>
        <p class="lux__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="lux__photo cardset__item"></div>
      <div class="lux__slider cardset__item" data-slider="team-slider">
        <div class="swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">Slide 2</div>
            <div class="swiper-slide">Slide 1</div>
            <div class="swiper-slide">Slide 3</div>
            <div class="swiper-slide">Slide 4</div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            <!-- If we need scrollbar
            <div class="swiper-scrollbar"></div> -->
          </div>
        </div>
      </div>
      <div class="lux__buttons cardset__item">
        <form class="button__form" action="./room.html">
          <button>Детальніше</button>
        </form>
        <button type="button">Переглянути ціни</button>
      </div>
    </div>
  </div>
</section>
