<section class="room-two">
    <div class="container room-two__container">
        <h2 class="room-two__subtitle">Amet minim mollit non</h2>
        <p class="room-two__logo">MIMIHO</p>
        <h3 class="room-two__title">ДВОМІСНИЙ НОМЕР</h3>
        <p class="room-two__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <img srcset="./images/hotel/hotel1-mobile.jpg 244w,
        ./images/hotel/hotel1-mobile@2x.jpg 244w,
        ./images/hotel/hotel1-tablet.jpg 400w,
        ./images/hotel/hotel1-tablet@2x.jpg 400w
        ./images/hotel/hotel1-desktop.jpg 460w,
        ./images/hotel/hotel1-desktop@2x.jpg 460w"
        src="./images/hotel/hotel1-mobile.jpg" 
        alt="ДВОМІСНИЙ НОМЕР"
        sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, (max-width: 414px) 244px "/>

        <button type="button">Детальніше</button>
        <button type="button">Переглянути ціни</button>
    </div>
</section>