<section class="section__lux">
  <div class="container">
    <div class="cardset">
      <div class="lux__text-block cardset__item">
        <p class="lux__upper-text">Amet minim mollit non</p>
        <p class="lux__brand-name">Mimiho</p>
        <h2 class="lux__title">ДВОМІСНИЙ НОМЕР люкс</h2>
        <p class="lux__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="lux__photo cardset__item">
        <picture class="lux__image">
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/hotel/hotel1-desktop.jpg    1x,
              ./images/hotel/hotel1-desktop@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/hotel/hotel1-tablet.jpg    1x,
              ./images/hotel/hotel1-tablet@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(min-width: 414px)"
            srcset="
              ./images/hotel/hotel1-mobile.jpg    1x,
              ./images/hotel/hotel1-mobile@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img src="./images/hotel/hotel1-desktop.jpg" alt="Фото номеру" width:
          100%; loading="lazy"/>
        </picture>
      </div>
      <div class="lux__slider cardset__item" data-slider="team-slider">
        <div class="swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <picture class="slider__image">
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/sliders/slider1-desktop.jpg    1x,
                    ./images/sliders/slider1-desktop@2x.jpg 2x
                  "
                  type="image/jpeg"
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/sliders/slider1-tablet.jpg    1x,
                    ./images/sliders/slider1-tablet@2x.jpg 2x
                  "
                  type="image/jpeg"
                />
                <source
                  media="(min-width: 414px)"
                  srcset="
                    ./images/sliders/slider1-mobile.jpg    1x,
                    ./images/sliders/slider1-mobile@2x.jpg 2x
                  "
                  type="image/jpeg"
                />
                <img src="./images/sliders/slider1-desktop.jpg" alt="Фото
                номеру" width: 100%; loading="lazy"/>
              </picture>
            </div>
            <div class="swiper-slide">
              <picture class="slider__image">
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/sliders/slider2-desktop.jpg    1x,
                    ./images/sliders/slider2-desktop@2x.jpg 2x
                  "
                  type="image/jpeg"
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/sliders/slider2-tablet.jpg    1x,
                    ./images/sliders/slider2-tablet@2x.jpg 2x
                  "
                  type="image/jpeg"
                />
                <source
                  media="(min-width: 414px)"
                  srcset="
                    ./images/sliders/slider2-mobile.jpg    1x,
                    ./images/sliders/slider2-mobile@2x.jpg 2x
                  "
                  type="image/jpeg"
                />
                <img src="./images/sliders/slider2-desktop.jpg" alt="Фото
                номеру" width: 100%; loading="lazy"/>
              </picture>
            </div>
            <div class="swiper-slide">
              <picture class="slider__image">
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/sliders/slider3-desktop.jpg    1x,
                    ./images/sliders/slider3-desktop@2x.jpg 2x
                  "
                  type="image/jpeg"
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/sliders/slider3-tablet.jpg    1x,
                    ./images/sliders/slider3-tablet@2x.jpg 2x
                  "
                  type="image/jpeg"
                />
                <source
                  media="(min-width: 414px)"
                  srcset="
                    ./images/sliders/slider3-mobile.jpg    1x,
                    ./images/sliders/slider3-mobile@2x.jpg 2x
                  "
                  type="image/jpeg"
                />
                <img src="./images/sliders/slider3-desktop.jpg" alt="Фото
                номеру" width: 100%; loading="lazy"/>
              </picture>
            </div>
            <div class="swiper-slide">
              <picture class="slider__image">
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/sliders/slider4-desktop.jpg    1x,
                    ./images/sliders/slider4-desktop@2x.jpg 2x
                  "
                  type="image/jpeg"
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/sliders/slider4-tablet.jpg    1x,
                    ./images/sliders/slider4-tablet@2x.jpg 2x
                  "
                  type="image/jpeg"
                />
                <source
                  media="(min-width: 414px)"
                  srcset="
                    ./images/sliders/slider4-mobile.jpg    1x,
                    ./images/sliders/slider4-mobile@2x.jpg 2x
                  "
                  type="image/jpeg"
                />
                <img src="./images/sliders/slider4-desktop.jpg" alt="Фото
                номеру" width: 100%; loading="lazy"/>
              </picture>
            </div>

            <!-- If we need navigation buttons -->

            <!-- If we need scrollbar
            <div class="swiper-scrollbar"></div> -->
          </div>
        </div>
        <div class="swiper-buttons__thumb">
          <div class="swiper-button-prev swiper-button">
            <svg class="swiper__icon">
              <use href="./images/icons.svg#icon-arrow-left"></use>
            </svg>
          </div>
          <div class="swiper-button-next swiper-button">
            <svg class="swiper__icon">
              <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="lux__buttons cardset__item">
        <form class="button__form" action="./room.html">
          <button class="details-btn">Детальніше</button>
        </form>
        <button class="price-btn" type="button">Переглянути ціни</button>
      </div>
    </div>
  </div>
</section>
