<section class="section__lux">
  <div class="container">
    <p class="lux__upper-text">Amet minim mollit non</p>
    <p class="lux__brand-name">Mimino</p>
    <h2 class="lux__title">ДВОМІСНИЙ НОМЕР люкс</h2>
    <p class="lux__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <div class="lux__photo"></div>
    <div class="lux__slider"></div>
    <div class="lux__buttons">
      <form class="button__form" action="./room.html">
        <button type="button">Детальніше</button>
      </form>
      <button type="button">Переглянути ціни</button>
    </div>
  </div>
</section>
