<section class="section room-three">
    <div class="container room-three__container">
        
            <h2 class="room-three__subtitle">Amet minim mollit non</h2>
        <p class="room-three__logo">MIMIHO</p>
        <h3 class="room-three__title">ТРЬОХМІСНИЙ НОМЕР</h3>
        <p class="room-three__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>

        <img class="room-three__image-interior" srcset="./images/hotel/hotel1-mobile.jpg 244w,
        ./images/hotel/hotel1-mobile@2x.jpg 488w,
        ./images/hotel/hotel1-tablet.jpg 400w,
        ./images/hotel/hotel1-tablet@2x.jpg 800w,
        ./images/hotel/hotel1-desktop.jpg 460w,
        ./images/hotel/hotel1-desktop@2x.jpg 920w"
        src="./images/hotel/hotel1-mobile.jpg" 
        alt="ТРЬОХМІСНИЙ НОМЕР"
        sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, (max-width: 1023px) 244px"/>
        
      <div class="room-three__buttons">
            <button class="room-three__button" type="button">Детальніше</button>
            <button class="room-three__button" type="button">Переглянути ціни</button>
        </div>
       
        </div>
    </section>

    


           