<section class="hero-hotel">
  <div class="hero-main__container">
    <div class="hero">
      <ul class="hero__list">
        <li>
          <h1 class="hotel__hero-title">
            MIMIH<span style="letter-spacing: normal">O</span>
          </h1>
        </li>
        <li>
          <p class="hero__text-hotel">Готель</p>
        </li>
      </ul>
    </div>
    <div class="hero__button">
      <button type="button" class="button__tap js-open-modal" data-modal="1">
        Забронювати номер
      </button>
      <button type="button" class="button__tap js-open-modal" data-modal="3">
        Переглянути ціни
      </button>
    </div>
    <div class="hero__social-container">
      <ul class="hero__social-link-list">
        <li class="hero__link-item">
          <a class="hero__social-link" href="#">
            <svg class="hero__icon" width="24" height="24">
              <use href="/src/images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="hero__link-item">
          <a class="hero__social-link" href="#">
            <svg class="hero__icon" width="24" height="24">
              <use href="/src/images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="hero__link-item">
          <a class="hero__social-link" href="#">
            <svg class="hero__icon" width="24" height="24">
              <use href="/src/images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="hero__address">
      <address>
        <ul class="hero__address-list">
          <li class="hero__address-item">
            <a class="hero__address-point" href="#">
              <svg class="hero__icon" width="20" height="20">
                <use href="/src/images/icons.svg#icon-location-pin"></use>
              </svg>
            </a>
          </li>
          <li class="hero__address-item">
            <a class="hero__address-point"
              href="https://www.google.com/maps/search/%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D0%B0,+%D0%BC.+%D0%9F%D0%BE%D0%BB%D1%82%D0%B0%D0%B2%D0%B0,+%D0%B2%D1%83%D0%BB.+%D0%9C%D0%B0%D1%80%D1%88%D0%B0%D0%BB%D0%B0+%D0%91%D1%96%D1%80%D1%8E%D0%B7%D0%BE%D0%B2%D0%B0,+15+%D0%B3%D1%83%D0%B3%D0%BB+%D0%BC%D0%B0%D0%BF%D1%81/@49.5987145,34.5239645,16.69z"
              target="_blank" rel="noopener noreferrer">
              Україна, м. Полтава,<br />
              вул. Маршала Бірюзова, 15
            </a>
          </li>
        </ul>
      </address>
    </div>
  </div>
</section>