<footer class="footer">
    <div class=" footer__container">
        <a class="footer__logo" href="/src/index.html">MIMIHO</a>
        <div class="footer__part">
            <ul class="footer__list">
                <li class="footer__item">
                    <a class="footer__link" href="/src/index.html">Головна</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="/src/restaraunt.html">Ресторан</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="/src/hotel.html">Готель</a></li>
            </ul>
            <ul class="footer-social">
                <li class="footer-social__item">
                    <a class="footer-social__link" href="https://www.instagram.com/"><span class="footer-social__text">Instagram</span>
                        <svg class="footer-social__icon" width="24" height="24">
                            <use href="/src/images/icons.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social__item">
                    <a class="footer-social__link" href="https://uk-ua.facebook.com/"><span class="footer-social__text">Facebook</span>
                        <svg class="footer-social__icon" width="24" height="24">
                            <use href="/src/images/icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social__item">
                    <a class="footer-social__link" href="https://web.telegram.org/z/"><span class="footer-social__text">Telegram</span>
                        <svg class="footer-social__icon" width="24" height="24">
                            <use href="/src/images/icons.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>