<footer class="footer">
    <div class="container footer__container">
        <a class="footer__logo" href="#">MIMIHO</a>
        <div class="footer__part">
            <ul class="footer__list">
                <li class="footer__item">
                    <a class="footer__link" href="#">Головна</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="#">Ресторан</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="#">Готель</a></li>
            </ul>
            <ul class="footer-social">
                <li class="footer-social__item">
                    <a class="footer-social__link" href="#">Inst</a>
                </li>
                <li class="footer-social__item">
                    <a class="footer-social__link" href="#">Fac</a>
                </li>
                <li class="footer-social__item">
                    <a class="footer-social__link" href="#">Telg</a>
                </li>
            </ul>
        </div>
    </div>
</footer>