@font-face {
  font-family: 'Film P3';
  src: url('FilmP3Bold.eot');
  src: local('Film P3 Bold'), local('FilmP3Bold'),
    url('FilmP3Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}