.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: $backdropBg;

  opacity: 0;
  visibility: hidden;
  overflow-y: scroll;

  transition: opacity 250ms $cubic, visibility 250ms $cubic;
  z-index: 20;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

ul {
  list-style: none;
}
