.footer-social {
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: 1024px) {
        flex-direction: column-reverse;
        gap: 10px;
    }
    &__item{
        @extend %list;
        color: $brandColor;
        @media (min-width: 320px) and (max-width: 1023px) {
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    
        @media screen and (min-width: 1024px) {
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            display: flex;
            align-items: center;
            letter-spacing: 0.02em;
            border: 0.5px solid $brandColor;
            border-radius: 2px;
            width: 144px;
            height: 40px;
            padding-left: 12px;
            padding-top: 10px;
            padding-bottom: 10px;
            position: relative;
        }
    }
    &__text { 
        @media (min-width: 320px) and (max-width: 1023px) {
            display: none;
        }
    }
    &__link {
        @extend %link;
        @media screen and (min-width: 1024px) {
            display: flex;
            position: absolute;
            right: 10px;
        }
    }
    &__icon {
        fill: $brandColor;
    }
}