.footer {
    background-color: $secondaryDark;
    padding-top: 40px;
    padding-bottom: 40px;
    @media screen and (min-width: 1024px) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    &__container {
        display: flex;
        justify-content: center;
        @media (min-width: 414px) and (max-width: 1023px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        @media screen and (min-width: 1024px) {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
        }
    }
    &__part {
        margin: auto;
        @media (min-width: 414px) and (max-width: 1023px) {
            margin-left: 85px;
        }
        @media (min-width: 1024px) and (max-width: 1279px) {
            display: flex;
            flex-wrap: nowrap;
            gap: 137px;
            margin-left: 163px;
        }
        @media screen and (min-width: 1280px) {
            display: flex;
            flex-wrap: nowrap;
            gap: 199px;
            margin-left: 231px;
        }
    }
    &__list {
        @media (min-width: 320px) and (max-width: 1023px) {
            margin-bottom: 33px;
        }
    }
    &__link {
        color: $brandColor;
        font-family: 'Montserrat';
        @extend %link;
    
        @media (min-width: 320px) and (max-width: 1023px) {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
        }
       
    }
    &__logo {
        color: $brandColor;
        font-family: 'Film P3';
        @extend %link;
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 40px;
        line-height: 1.07;
        letter-spacing: 0.3em;
        justify-content: center;
        
        @media screen and (min-width: 1024px) {
            font-size: 64px;
        }
    }
}

.footer__item {
    @extend %list;
    &:not(:last-child) {
        margin-bottom: 16px;
    }
}